* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: oblique;
}

.item-heading{
    display:flex;
    justify-content: center;
    width: 100%;
   
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(213, 165, 20);
    color: white;
    padding: 20px;
    border-radius:20px;
    font-size: 30px;
    font-weight: 400;
}

.page{
    margin: 15px;
}

.item-menu{
    padding-left: 15%;
}

.button{
    border: 2px solid darkmagenta;
    background-color: darkmagenta;
    width: 25%;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.side-nav {
    height:100%;
    background-color: rgb(213, 165, 20);
    color: white;
}