

.form-label {
    color:gray;
    margin-bottom:15px
}


.form-input {
    border-radius: 7px;
    padding: 4px;
}


.form-label-invalid {
    color:red;
}



.form-input-invalid {
    border-radius: 7px;
    padding: 4px;
    border:2px solid red
}

.error-message{
    color:red;
    font-size: 15px;

}