.card{
    border: 2px solid #d9c7c7;
    padding: 20px;
    border-radius: 27px;
    margin-bottom: 7%;
    margin-top: 40px;
    cursor: pointer;
    width: 30%;
    background-color: #f4f5f2;
}

.food-img {
    width: 100%;
    height: 70%;
}

.container {
    display: flex;
    width: 80%;
    margin: 2% 10%;
    gap: 5%;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.restaurant-des{
    color:grey
}

.restaurant-name{
    color:coral
}


.add-restaurant-view{
    display: flex;
    justify-content: end;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ratting{
    padding-left:10px;
}

@media screen and (max-width:1400px)  {
    .card{
        margin-top: 7%;
        width: 40%;
    }
}

@media screen and (max-width:900px)  {
    .container {
        width: 100%;
        margin:0%;
        justify-content: center;
    }

    .card{
        margin-top: 7%;
        width:45%
    }
}

@media screen and (max-width:480px)  {
    .container {
        justify-content: center;
        margin:10px;
        width: 100%;
        box-sizing: border-box;
    }

    .card{
        margin-top: 7%;
        width:80%;
        height: 100%;
    }
}


